body {
    margin: 0;
    font-family: "playwrite-cc-us-modern", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.navbar {
    width: 96.5%;
    background-color: rgba(255, 202, 175, 0.5);
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    margin: 10px auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-group,
.right-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-group a,
.right-group a {
    text-decoration: none;
    font-weight: bold;
    color: #3a2a2a;
    transition: 0.2s ease;
}

.left-group a:hover,
.right-group a:hover {
    opacity: 0.7;
}

.logo {
    margin-top: 3px;
    margin-left: 15px;
    height: 45px;
    border-radius: 5px;
}

.account-btn i {
    font-size: 26px;
    opacity: 0.8;
    transition: 0.3s ease;
    cursor: pointer;
    margin-right: 15px;
}

.account-btn:hover i {
    opacity: 1;
    transform: scale(1.3);
}
